.jumbotron {
    background-color: #007bff;
    color: whitesmoke;
    padding: 2rem 2rem;
}

.card-header {
    background-color: #007bff;
    color: whitesmoke 
}

.card {
    border: #007bff 3px solid;

}